html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-image: url(assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #59b0a7;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  div#app {
    height: 100%;
  }
}